.customer-section{
    background-color: #c6c5e8;
    background-image: url(https://cdn.prod.website-files.com/613f2494a7d5cd1817022b81/641406419741e4f356afd1cf_BGC.webp);
    background-position: 50%;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 100px;

}